@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Styles/Home.css" rel="stylesheet" />
<main>

    <img src="~/Content/Productos/banner_2.jpg" alt="banner_1" class="img-fluid rounded" />
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Airstop Brakes</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Importacion de calidad</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Nuestra Historia</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
    <div class="service-grid">
        <a href="@Url.Action("IndexProductoCliente", "Home")">
            <div class="service-item">
                <img src="~/Content/Productos/banner_2.jpg" alt="Línea Automotriz">

                <div class="service-overlay">Línea Automotriz</div>
            </div>
        </a>
        <div class="service-item">
            <img src="~/Content/Productos/banner_1.jpg" alt="Ingeniería de Compuestos">
            <div class="service-overlay">Ingeniería de Compuestos</div>
        </div>
        <div class="service-item">
            <img src="~/Content/Productos/banner_2.jpg" alt="Diseño y Desarrollo">
            <div class="service-overlay">Diseño y Desarrollo</div>
        </div>
        <div class="service-item">
            <img src="~/Content/Productos/banner_2.jpg" alt="Línea Industrial">
            <div class="service-overlay">Línea Industrial</div>
        </div>
    </div>
</main>