body {
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        max-width: 100%;
        height: 180px;
        object-fit: cover;
        margin-bottom: 10px;
    }
